<div class="devise-page-bg">
  <div class="row">
    <div class="col s1">
    </div>

    <div class="col s5 devise-form">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "btn waves-effect waves-light" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>

    <div class="col s6">
    </div>
  </div>
</div>
