<%= form_with model: @account, url: create_from_service_path, local: true do |f| %>
  <div class="modal-content">
    <h4><%= @institution_name %></h4>
    <p>Select an account</p>

    <div id="accounts-list">
      <%= f.collection_radio_buttons :account_id, @accounts, proc { |account| account[:id] }, :to_s do |b| %>
        <p class="radio-buttons-with-padding hoverable">
          <label for=<%= b.value %>>
            <%= b.radio_button class: 'with-gap', id: b.value, name: "account[account_id]" %>
            <span>
              <%= b.object[:name] %><br>
              <%= b.object[:mask] %><br>
              <%= b.object[:subtype].titleize %><br>
            </span>
          </label>
        </p>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
