<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><%= @institution_name %></h5>
      
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= form_with model: @account, url: create_from_service_path, local: true do |f| %> 
      <div class="modal-body">
        <p>Select an account</p>
        <div id="accounts-list">
          <%= f.collection_radio_buttons :account_id, @accounts, proc { |account| account[:id] }, :to_s do |b| %>
            <p class="radio-buttons-with-padding hoverable">
              <label for=<%= b.value %>>
                <%= b.radio_button id: b.value, name: "account[account_id]" %>
                <span>
                  <%= b.object[:name] %><br>
                  <%= b.object[:mask] %><br>
                  <%= b.object[:subtype].titleize %><br>
                </span>
              </label>
            </p>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
