<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default px-3 pt-4" id="account-sticky-nav">
  <h1>To Budget With: <span id='account-budget-amount' class='badge <%= success_or_danger_based_on_amount(@account) %>'><%= number_to_currency(@account.to_budget_with) %></span>
  </h1>
  <% if @account.to_budget_with > 0 %>
    <%= link_to 'Send to Default Spending', account_bucket_balance_path(@account, @account.default_spending_bucket, bucket: { current_balance: excess_budget_to_default_spending_amount(@account.to_budget_with, @account.default_spending_bucket) }, excess_budget_update: true), class: 'ml-4 btn btn-sm btn-outline-secondary', id: 'send-excess-budget-btn', method: :patch, remote: true %>
  <% end %>
</nav>
<div class="row my-3">
  <div class="col-lg-1"></div>
  <div class="col-lg-3 mt-5">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title"><%= @account.account_name %></h5>
        <p class="card-text"><%= @account.mask %></p>
        <p class="card-text"><%= @account.account_type.titleize %></p>
        <p class="card-text"><%= @account.institution_name %></p>

        <%= link_to accounts_fetch_balance_path(@account), class: 'btn btn-primary', id: 'loading-spinner-btn', remote: true do %>
          <span class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
          <span id='loading-text'>Get Latest Balance</span>
        <% end %>
        <hr>
        <p class='mt-3'>Available Balance: <span id='account-balance' class='badge badge-success'><%= @account.balance.nil? ? '--' : number_to_currency(@account.balance, precision: 2) %></span></p>
        <small class='form-text text-muted'>As of:</small>
        <small class='form-text text-muted momentize-format' id='balance-as-of-date' data-datetime='<%= @account.balance_as_of_date.to_i %>'></small>
        <hr>
        
      </div>
    </div>
  </div>

  <div class="col-lg-7 mt-4">
    <div class="alert alert-danger d-none" role="alert">
    </div>
    <%= bootstrap_flash %>

    <div class="text-right">
      <%= link_to 'Add a bucket', new_account_bucket_path(@account), class: 'btn btn-outline-default mb-3', remote: true %>
    </div>

    <% @buckets.each do |bucket| %>
      <div class="card card-stats mb-4 mb-lg-0 mt-3">
        <div class="card-body">
            <div class="row">
              <div class="col-8">
                  <h5 class="card-title text-uppercase text-muted mb-0"><%= bucket.name %></h5>
                  <p class="h3">Target Balance: <span class="badge badge-success"><%= number_to_currency(bucket.target_balance, precision: 2) || 'n/a' %></span></p>
              </div>
              <div class="col-4">
                <% unless bucket.default_spending_bucket? %>
                  <%= link_to account_bucket_confirm_destroy_path(@account, bucket), remote: true do %>
                    <i class="ni ni-fat-remove float-right"></i><br>
                  <% end %>
                <% end %>

                <%= form_with model: bucket, url: account_bucket_balance_path(@account, bucket), method: :patch, id: 'bucket-balance-form', remote: true do |f| %>
                  <div class="form-group">
                    <%= f.label :current_balance, 'Balance', class: "font-weight-bold" %>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <%= f.text_field :current_balance, class: "form-control currency-input", placeholder: "Enter amount", value: number_to_currency(bucket.current_balance, unit: ""), bucket_id: bucket.id %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <p class="mt-1 text-muted text-sm"><%= bucket.description %></p>
            <p class="my-3 mb-0 text-muted text-sm">
                <span class="text-default mr-2 badge badge-info"><%= bucket.bucket_type.titleize %></span>
            </p>
            <%= link_to 'Edit bucket', edit_account_bucket_path(@account, bucket), remote: true %>
        </div>
      </div>
    <% end %>

    <%= hidden_field_tag :account_id, @account.id %>

    <div class="text-right mt-3">
      <button type="button" class="btn btn-primary">
        <span>Total</span>
        <span class="badge badge-white" id="bucket-totals"><%= number_to_currency(@account.sum_of_all_bucket_balances) %></span>
      </button>
    </div>
  </div>

  <div class="col-lg-1"></div>
</div>

<div class="modal fade" id="account-bucket-modal" tabindex="-1" role="dialog" aria-labelledby="new-account-bucket-modal" aria-hidden="true"></div>
<div class="modal fade" id="confirm-destroy-bucket-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-destroy-bucket-modal" aria-hidden="true"></div>

